@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.html-content h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.html-content h1 {
    font-size: 1.6rem;
    font-weight: 700;
}